name: CI_action

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x, 18.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # - name: Install dependencies for my-react-app in worksheet1
      #   run: npm install
      #   working-directory: worksheet1/cise-react-learn

      # - name: Run the tests for my-react-app in worksheet1
      #   run: npm test
      #   working-directory: worksheet1/cise-react-learn

      # - name: Build my-react-app in worksheet1
      #   run: npm run build
      #   working-directory: worksheet1/cise-react-learn

      - name: Install dependencies for my-react-app in worksheet2
        run: npm install
        working-directory: worksheet2/my-react-app

      - name: Run the tests for my-react-app in worksheet2
        run: npm test
        working-directory: worksheet2/my-react-app

      - name: Build my-react-app in worksheet2
        run: npm run build
        working-directory: worksheet2/my-react-app

      # - name: Install dependencies for my-nest-app in worksheet1
      #   run: npm install
      #   working-directory: worksheet1/my-nest-project

      # - name: Run the tests for my-nest-app in worksheet1
      #   run: npm test
      #   working-directory: worksheet1/my-nest-project

      # - name: Build my-nest-app in worksheet1
      #   run: npm run build
      #   working-directory: worksheet1/my-nest-project

      - name: Install dependencies for my-nest-app in worksheet2
        run: npm install
        working-directory: worksheet2/my-nest-app

      - name: Run the tests for my-nest-app in worksheet2
        run: npm test
        working-directory: worksheet2/my-nest-app

      - name: Build my-nest-app in worksheet2
        run: npm run build
        working-directory: worksheet2/my-nest-app
